<!-- src/app/components/hybrid-graph/hybrid-graph.component.html -->
<div class="graph-container-wrapper">

  <div #graphContainer class="graph-container"></div>

  <div class="legend">
    <h3>Legend</h3>
    <div class="legend-item">
      <div class="tree-node-symbol"></div>
      <span>Tree Node</span>
    </div>
    <div class="legend-item">
      <div class="force-container-symbol"></div>
      <span>Force Container Node</span>
    </div>
    <div class="legend-item">
      <div class="force-node-symbol"></div>
      <span>Force Node</span>
    </div>
  </div>
</div>
