<div class="app-container">
  <div class="card flex justify-center">
    <div class="flex flex-col gap-4">
      <div *ngFor="let category of categories" class="field-checkbox">
        <p-radioButton [inputId]="category.key"
                       name="category"
                       [value]="category.key"
                       [(ngModel)]="selectedCategory"
                       (onClick)="onCategoryChange(category.key)">
        </p-radioButton>
        <label [for]="category.key" class="ml-2">{{ category.name }}</label>
      </div>
    </div>
  </div>
  <div *ngIf="selectedCategory === 'tree'">
    <h1>公司關係樹狀圖</h1>
    <app-tree-visualization></app-tree-visualization>
  </div>
  <div *ngIf="selectedCategory === 'force'">
    <h1>公司關係力圖</h1>
    <app-force-directed-tree></app-force-directed-tree>
  </div>
  <div *ngIf="selectedCategory === 'mix'">
    <h1>公司關係混合圖</h1>
    <app-mix-tree-force></app-mix-tree-force>
  </div>
</div>
