<p-treeTable
  [value]="sourceData"
  [columns]="columns"
  [lazy]="true"
  selectionMode="single">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3rem"></th>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
    <tr>
      <td *ngIf="rowNode">
        <input type="checkbox"
               name="treeNodeSelection"
               [disabled]="isCheckboxesDisabled(rowNode.node)"
               [checked]="isNodeSelected(rowNode)"
               (click)="selectSingleNode(rowNode, $event)" />
      </td>
      <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
        <td *ngSwitchCase="'name'"
            [ngStyle]="{'text-align': col.align || 'left', 'white-space': 'nowrap', 'overflow': 'hidden', 'text-overflow': 'ellipsis'}">
          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
          {{ rowNode.node?.[col.field] }}
        </td>
        <td *ngSwitchDefault
            [ngStyle]="{'text-align': col.align || 'left', 'white-space': 'nowrap', 'overflow': 'hidden', 'text-overflow': 'ellipsis'}">
          {{ rowNode.node?.[col.field] }}</td>
      </ng-container>
    </tr>
  </ng-template>
</p-treeTable>
